.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 5px;
}

.fighter-preview___stat {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}
